
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
.main {
    background-color: red;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-image: url('../images/nature.jpg');
}